.text_sub_heading {
  padding-block: 1.5rem;
}
.similar-products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 4rem;
  width: 65vw;
  gap: 1rem;

  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-card {
  background-color: white;
  width: fit-content;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  .product-image {
    width: 176px;
    height: 176px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
  }

  .product-info {
    padding: 1rem;

    .product-name {
      color: var(--CED-Purple, #3d3d53);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
    }

    .product-price {
      color: var(--CED-Purple, #3d3d53);
      font-size: 14px;
    }
  }
}

.range {
  color: var(--CED-PURPLE-2, #6e6e7e);
  font-size: 10px;
  display: block;
  margin-block: 0.5rem;
  @media (max-width: 768px) {
    visibility: hidden;
  }
}

@media (min-width: 340px) and (max-width: 370px) {
  .product-image {
    width: 160px !important;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .product-card {
    width: 210px !important;
  }
  .product-image {
    width: 100% !important;
  }
}
@media (min-width: 780px) and (max-width: 1150px) {
  .product-card {
    width: 115px !important;
  }
  .product-image {
    width: 100% !important;
    height: auto !important;
  }
}
