<!-- navbar -->
<nav>
  <div class="fake-logo"></div>
  <div class="right-nav">
    <div class="links">
      <a href="#">Service Providers</a>
      <a href="#">How it Works</a>
    </div>
    <div class="user-actions">
      <div class="dropdown-container">
        <div class="selected-value">
          <img
            src="assets/svgs/location.svg"
            alt="location"
            class="location-icon"
          />
          <span> Delhi NCR </span>
          <img
            src="assets/svgs/down_arrow.svg"
            alt="location"
            class="location-icon"
          />
        </div>
        <div *ngIf="false" class="dropdown">
          <div class="dropdown-item">Mumbai</div>
          <div class="dropdown-item">Bangalore</div>
          <div class="dropdown-item">Hyderabad</div>
        </div>
      </div>
      <button class="log-in">Log In</button>
      <button class="talk-to-expert">Talk to an Expert</button>
    </div>
  </div>
</nav>
<main>
  <button class="back">
    <img src="assets/svgs/arrow.svg" alt="back" />
    <span>Back</span>
  </button>
  <app-select-space></app-select-space>
  <app-product-details></app-product-details>
  <app-similar-products></app-similar-products>
</main>
