<!-- navbar -->
<nav>
  <div class="fake-logo"></div>
  <div class="right-nav">
    <div class="links">
      <a href="#">Service Providers</a>
      <a href="#">How it Works</a>
    </div>
    <div class="user-actions">
      <div class="dropdown-container">
        <div class="selected-value">
          <img
            src="assets/svgs/location.svg"
            alt="location"
            class="location-icon"
          />
          <span> Delhi NCR </span>
          <img
            src="assets/svgs/down_arrow.svg"
            alt="location"
            class="location-icon"
          />
        </div>
      </div>
      <button *ngIf="isDesktop" class="log-in">Log In</button>
      <button *ngIf="!isDesktop" class="log-in">
        <img src="assets/svgs/person.svg" alt="" />
      </button>
      <button *ngIf="isDesktop" class="talk-to-expert">
        Talk to an Expert
      </button>
      <button *ngIf="!isDesktop" class="talk-to-expert">
        <img src="assets/svgs/support.svg" alt="" />
      </button>
      <button *ngIf="isBurgerMenuVisible" class="menu">
        <img src="assets/svgs/menu.svg" alt="">
      </button>
    </div>
  </div>
</nav>
<main>
  <button class="back">
    <img src="assets/svgs/arrow.svg" alt="back" />
    <span>Back</span>
  </button>
  <app-select-space></app-select-space>
  <app-product-details></app-product-details>
  <app-similar-products></app-similar-products>
</main>
